@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-serif: var(--font-fraunces);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-space-grotesk), sans-serif;
}
